@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme tokens (simple palette). Replace with shadcn theme later */
:root {
  --radius: 0.5rem;
}
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

.wrapper-card-index {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-40deg);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
      animation: shimmer 0.7s ease-out forwards;
    }
    img {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
