@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme tokens (simple palette). Replace with shadcn theme later */
:root {
  --radius: 0.5rem;
}
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
