# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Root Node
node_modules/
*.log

# Env files
.env
**/.env

# Nuxt frontend
frontend/.nuxt/
frontend/.output/
frontend/.cache/
frontend/node_modules/
frontend/.env

# Directus CMS
cms/node_modules/
cms/.env
cms/uploads/
cms/database.db

# Misc
*.local